.fc {
    height: 100%;
}

.fc-event-main {
    background-color: #2C3E50;
    border-color: #2C3E50;
    text-align: center;
    font-weight: bold;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; 
}

.fc-event {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; 
}

.fc-event-main p {
    margin: 0;
}


.available-slot {
    background-color: #2C3E50;
    opacity: 0.65;
}