.fc {
    height: 100%;
}

.fc-v-event {
    background-color: #B9B9B9;
    border-color: #B9B9B9;
}

.fc-event-main {
    background-color: #B9B9B9;
    border-color: #B9B9B9;
}

.fc-event-main p {
    margin: 0;
}